In [2]:
import pandas as pd
import numpy as np
import statistics as state
import seaborn as sns
from sklearn import preprocessing
from collections import Counter
import matplotlib.pyplot as plt
from math import e
import math

In [3]:
df = pd.read_csv("Fianl_data.csv")
df

           Acc_X      Acc_Y     Acc_Z  class
0       2.660984  -9.653030  0.470237      1
1       2.223091   2.223091  2.223091      1
2       2.098372  -9.481953  0.926070      1
3       2.716461  -9.739352  0.912008      1
4       2.288388  -9.371498  0.910390      1
...          ...        ...       ...    ...
202821 -6.006237  -3.378271  4.406089     29
202822 -3.689065  -8.289723  3.665323     29
202823 -2.437402 -12.345160  0.565022     29
202824 -5.793968 -10.766126 -0.083198     29
202825 -4.507253 -11.620029  1.723032     29

[202826 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202826 entries, 0 to 202825
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Acc_X   202826 non-null  float64
 1   Acc_Y   202826 non-null  float64
 2   Acc_Z   202826 non-null  float64
 3   class   202826 non-null  int64
dtypes: float64(3), int64(1)
memory usage: 6.2 MB

In [4]:
df.isnull().sum()

Acc_X    0
Acc_Y    0
Acc_Z    0
class    0
dtype: int64

In [5]:
df=df.eval('Mean = (Acc_X+Acc_Y+Acc_Z)/3')
df['Median']=df.loc[:,['Acc_X','Acc_Y','Acc_Z']].median(axis=1)
df['Variance']=df.loc[:,['Acc_X','Acc_Y','Acc_Z']].var(axis=1)
df['Standard_Deviation']=df.loc[:,['Acc_X','Acc_Y','Acc_Z']].std(axis=1)
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408
...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393

In [6]:
sort=np.sort(df.loc[:,['Acc_X','Acc_Y','Acc_Z']],axis=1)

q3=[]
q1=[]
for x in sort:

    q3x,q1x= np.percentile(x,[75,25])
    q3.append(q3x)
    q1.append(q1x)
df['Q3']=q3
df['Q1']=q1
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554
...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641

In [7]:
def getZCR(arr):
        my_array = np.array(arr)
        return float("{0:.2f}".format((((my_array[:-1] * my_array[1:]) < 0).sum())/len(arr)))
zcr=[]
arr2=np.array(df.loc[:,['Acc_X','Acc_Y','Acc_Z']])


for x in arr2:
    zcr.append(getZCR(x))
df['zcr']=zcr
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67
...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33

In [8]:
def getMCR(arr):
    return getZCR(np.array(arr) - np.mean(arr))

MCR=[]
arr2=np.array(df.loc[:,['Acc_X','Acc_Y','Acc_Z']])

for x in arr2:
        MCR.append(getMCR(x))

df['MCR']=MCR
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr,MCR
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67,0.67
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00,0.00
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67,0.67
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67,0.67
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67,0.67
...,...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33,0.33
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33,0.33
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33,0.67
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00,0.33
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33,0.67

In [9]:
def entropy4(labels, base=None):
    value,counts = np.unique(labels, return_counts=True)
    norm_counts = counts / counts.sum()
    base = e if base is None else base
    return -(norm_counts * np.log(norm_counts)/np.log(base)).sum()

y=[]
sort=np.sort(df.loc[:,['Acc_X','Acc_Y','Acc_Z']],axis=1)

for x in sort:
    y.append(entropy4(x))
df['Entropy']=y
df

,Acc_X,Acc_Y,Acc_Z,class,Mean,Median,Variance,Standard_Deviation,Q3,Q1,zcr,MCR,Entropy
0,2.660984,-9.653030,0.470237,1,-2.173936,0.470237,43.152475,6.569054,1.565611,-4.591396,0.67,0.67,1.098612
1,2.223091,2.223091,2.223091,1,2.223091,2.223091,0.000000,0.000000,2.223091,2.223091,0.00,0.00,-0.000000
2,2.098372,-9.481953,0.926070,1,-2.152504,0.926070,40.634194,6.374496,1.512221,-4.277941,0.67,0.67,1.098612
3,2.716461,-9.739352,0.912008,1,-2.036961,0.912008,45.309133,6.731206,1.814234,-4.413672,0.67,0.67,1.098612
4,2.288388,-9.371498,0.910390,1,-2.057573,0.910390,40.594840,6.371408,1.599389,-4.230554,0.67,0.67,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202821,-6.006237,-3.378271,4.406089,29,-1.659473,-3.378271,29.319833,5.414779,0.513909,-4.692254,0.33,0.33,1.098612
202822,-3.689065,-8.289723,3.665323,29,-2.771155,-3.689065,36.362700,6.030149,-0.011871,-5.989394,0.33,0.33,1.098612
202823,-2.437402,-12.345160,0.565022,29,-4.739180,-2.437402,45.641836,6.755874,-0.936190,-7.391281,0.33,0.67,1.098612
202824,-5.793968,-10.766126,-0.083198,29,-5.547764,-5.793968,28.576700,5.345718,-2.938583,-8.280047,0.00,0.33,1.098612
202825,-4.507253,-11.620029,1.723032,29,-4.801417,-4.507253,44.574218,6.676393,-1.392111,-8.063641,0.33,0.67,1.098612

In [11]:
#autocorrelation for X
for l in range(1,11):
    autoCor1=df['Acc_X'].autocorr(lag=l)
    print('for X',autoCor1)

for X 0.8237765859771384
for X 0.8282393773475335
for X 0.8130147040784418
for X 0.8080714952489625
for X 0.8049098733500932
for X 0.7962594011341644
for X 0.7932334747713092
for X 0.7881856705560948
for X 0.7834256250687559
for X 0.7829338849989383

In [12]:
for l in range(1,11):
    autoCor2=df['Acc_Y'].autocorr(lag=l)
    print('for Y',autoCor2)

for Y 0.8357821845592879
for Y 0.8510386759232449
for Y 0.8361818154033444
for Y 0.8312912524828329
for Y 0.8310416942417183
for Y 0.819617278494319
for Y 0.814354678309408
for Y 0.8122380797801536
for Y 0.803239193890466
for Y 0.8032345956835527

In [13]:
for l in range(1,11):
    autoCor3=df['Acc_Z'].autocorr(lag=l)
    print('for Z',autoCor3)

for Z 0.8786876056020493
for Z 0.8916541764616817
for Z 0.8735864957537719
for Z 0.8719826177231137
for Z 0.8692752481275422
for Z 0.8621065120003578
for Z 0.859873747944453
for Z 0.8591660598850578
for Z 0.8543055354108122
for Z 0.853934123438392

In [10]:
autoCor1z=df['Acc_Z'].autocorr(lag=1)
print(autoCor1z)
autoCor2z=df['Acc_Z'].autocorr(lag=2)
print(autoCor2z)
autoCor3z=df['Acc_Z'].autocorr(lag=3)
print(autoCor3z)
autoCor4z=df['Acc_Z'].autocorr(lag=4)
print(autoCor4z)
autoCor5z=df['Acc_Z'].autocorr(lag=5)
print(autoCor5z)
autoCor6z=df['Acc_Z'].autocorr(lag=6)
print(autoCor6z)
autoCor7z=df['Acc_Z'].autocorr(lag=7)
print(autoCor7z)
autoCor8z=df['Acc_Z'].autocorr(lag=8)
print(autoCor8z)
autoCor9z=df['Acc_Z'].autocorr(lag=9)
print(autoCor9z)
autoCor10z=df['Acc_Z'].autocorr(lag=10)
print(autoCor10z)

0.8786876056020493
0.8916541764616817
0.8735864957537719
0.8719826177231137
0.8692752481275422
0.8621065120003578
0.859873747944453
0.8591660598850578
0.8543055354108122
0.853934123438392